.footer{
    display: block;
    position: relative;
    background-color: #000;
    width: 100%;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 150px;
    // display: flex;
    align-items: center;
    // align-content: center;

    &__title{
        font-size: 34px;
        font-weight: 700;
        font-family: $font1;
        text-transform: uppercase;
        color: #fff;
        justify-self: center;
    }

    &__list{
        display: grid;
        grid-template-columns: 380px 380px;
        // display: flex;
        // flex-wrap: wrap;
        // width: 800px;
        // justify-content: space-between;
        grid-gap: 20px;
    }

    &__item{
        position: relative;

        // &:not(:nth-child(2n)) {
        //     margin-right: 50px;
        // }
    }

    &__link{
        display: flex;
        align-items: center;
        font-size: 22px;
        font-family: $font1;
        color: #fff;
        width: 230px;
        

        &:hover{
            // text-decoration: underline;
            opacity: 0.8;
        }
    }

    &__img{
        width: 25px;
        height: 25px;
        margin-right: 16px;
    }
}