.lang{
    display: block;
    position: relative;
    display: flex;
    justify-content: center;

    &__inner{
        width: 80%;
        padding: 40px 0;
        margin-top: 80px;
        background-color: #ebe8e8;
    }

    &__list{
        margin-top: 32px;
        display: flex;
        justify-content: space-around;
    }

    &__item {
        position: relative;
       display: flex;
       flex-direction: column;
       align-items: center;
      }

    &__item-name{
        font-size: 22px;
        font-family: $font1;
        color: $black;
        margin-bottom: 12px;
    }

    &__diagram {
        height: 78px;
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    &__img {
        width: 78px;
        height: 78px;
    }
    
    &__circle-inner {
        fill: none;
        stroke-width: 8px;
        stroke: #ed7d31;
    }
    
    &__circle {
        fill: none;
        stroke-width: 8px;
        stroke: #4472c4;
        stroke-linecap: round;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        animation: big 1.5s ease-in-out;
    }
    
    &__diagram-percent {
        height: 16px;
        position: absolute;
        font-size: 18px;
        color: #000;
        top: 0;
        bottom: 0;
        left: 3px;
        right: 0;
        margin: auto;

        font-weight: 700;
        font-family: $font1;

    }
    &__diagram-percent--value{
        display: none;
    }

}