//colors

$brown : #500909;
$black : #000;


//fonts
// $font1: Arial, Helvetica, sans-serif;
$font1: 'Roboto', sans-serif;
// $font2: Georgia, 'Times New Roman', Times, serif;
$font2: 'Open Sans', Times, serif;
