/***************************************************              GENERAL RESET STYLES             ***************************************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

*:focus {
  outline: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  background: transparent;
  font-size: 100%;
}

a:hover {
  text-decoration: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  max-width: 100%;
  border-style: none;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input,
textarea,
select {
  padding: 0;
  vertical-align: middle;
}

input,
select {
  vertical-align: middle;
}

/* wrapper */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.layout {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 1fr 1.5fr;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/roboto-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans-regular.woff2") format("woff2");
}

.title {
  position: absolute;
}

.header {
  display: block;
  position: relative;
}

.header__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 36px;
}

.decor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  grid-gap: 25px;
  margin-right: 30px;
}

.decor__stick {
  width: 4px;
  height: 330px;
  background-color: #500909;
}

.decor__square {
  width: 68px;
  height: 68px;
  background-color: #500909;
  -ms-flex-item-align: end;
      align-self: end;
}

.menu {
  display: block;
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 4px solid #500909;
}

.menu__item:not(:last-child) {
  margin-right: 34px;
}

.menu__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
}

.headline {
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #500909;
  text-align: center;
}

.work {
  display: block;
  position: relative;
}

.work__inner {
  padding-top: 60px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 52px;
}

.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 49px;
  margin-right: auto;
}

.work__item:nth-child(2) {
  margin-right: 49px;
  margin-left: auto;
}

.work__desc {
  width: 270px;
  background-color: #abaaaa;
  padding: 20px 10px;
  display: grid;
  grid-gap: 10px;
}

.work__desc-title {
  font-size: 20px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #500909;
}

.work__desc-company {
  font-size: 18px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
}

.work__desc-duties {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
}

.work__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.work__decor-horizStick {
  width: 35px;
  height: 3px;
  background-color: #abaaaa;
}

.work__decor-vertStick {
  width: 20px;
  height: 164px;
  background-color: #abaaaa;
  display: grid;
  margin-right: 30px;
}

.work__decor-vertStick--white {
  margin-right: 0;
  margin-left: 30px;
  background-color: #ededed;
}

.work__decor-vertStick--gray {
  background-color: #dedede;
}

.work__decor-vertStick-cirkle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.work__date {
  font-size: 36px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.lang {
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lang__inner {
  width: 80%;
  padding: 40px 0;
  margin-top: 60px;
  background-color: #ebe8e8;
}

.lang__list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lang__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang__item-name {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin-bottom: 12px;
}

.lang__diagram {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #ed7d31;
}

.lang__diagram::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #4472c4;
}

.lang__diagram::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #4472c4;
}

.lang__diagram--ukr::before {
  clip: rect(0 74px 40px 0);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.lang__diagram--ukr::after {
  clip: rect(0 80px 40px 0);
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}

.lang__diagram--eng::before {
  clip: rect(0 90px 40px 0);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.lang__diagram--eng::after {
  clip: rect(0 66px 30px 0);
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}

.lang__diagram--german::before {
  clip: rect(0 20px 40px 0);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.lang__diagram--german::after {
  clip: rect(0 48px 30px 0);
  -webkit-transform: rotate(76deg);
      -ms-transform: rotate(76deg);
          transform: rotate(76deg);
}

.lang__diagram-inner {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 5;
  border-radius: 50%;
  background: #ebe8e8;
}

.lang__diagram-percent {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: #000;
  z-index: 10;
}

.education {
  display: block;
  position: relative;
}

.education .headline {
  margin-bottom: 30px;
}

.education__inner {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  grid-template-areas: 'title title title' 'list-left border list-right';
}

.education .headline {
  grid-area: title;
}

.education__list-left {
  grid-area: list-left;
  display: grid;
  grid-gap: 44px;
  padding-top: 20px;
  justify-items: end;
}

.education__item {
  position: relative;
  width: 300px;
  height: 100px;
  background-color: #ebe8e8;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.education__item::before {
  content: '';
  position: absolute;
  right: -40px;
  top: 15px;
  border: 15px solid transparent;
  border-left: 25px solid #ebe8e8;
}

.education__place {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #500909;
}

.education__major {
  font-size: 17px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.education__date {
  width: 110px;
  height: 30px;
  background-color: #500909;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.education__date-text {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.education__border {
  padding-top: 42px;
  grid-area: border;
  width: 8px;
  height: 530px;
  background-color: #ebe8e8;
  justify-self: center;
  display: grid;
  grid-gap: 10px;
}

.education__border-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #500909;
  margin-left: -8px;
}

.education__item--right::before {
  content: '';
  position: absolute;
  right: 298px;
  top: 15px;
  border: 15px solid transparent;
  border-right: 25px solid #ebe8e8;
}

.education__list-right {
  grid-area: list-right;
  display: grid;
  grid-gap: 42px;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 20px;
}

@media (min-width: 600px) and (max-width: 767px) {
  .layout {
    width: 98%;
  }
}

@media (min-width: 768px) and (max-width: 898px) {
  .layout {
    width: 98%;
  }
}

@media (min-width: 899px) and (max-width: 1199px) {
  .layout {
    width: 98%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .layout {
    width: 98%;
  }
}

@media (max-width: 599px) {
  .layout {
    width: 98%;
  }
}
